BASE_URL=https://www.saucedemo.com/

STANDARD_USER=___write___your___data___
LOCKED_OUT_USER=___write___your___data___
SECRET_SAUCE=___write___your___data___
INVALID_PASSWORD=___write___your___data___
