STANDARD_USER = "___write___your___data___"
LOCKED_OUT_USER = "___write___your___data___"
PROBLEM_USER = "___write___your___data___"
PERFORMANCE_GLITCH_USER = "___write___your___data___"
ERROR_USER = "___write___your___data___"
VISUAL_USER = "___write___your___data___"
INVALID_LOGIN = "___write___your___data___"
EMPTY = ""

SECRET_SAUCE = "___write___your___data___"
INVALID_PASSWORD = "___write___your___data___"
EMPTY = ""

FIRST_NAME = "___write___your___data___"
LAST_NAME = "___write___your___data___"
POSTAL_CODE = "___write___your___data___"