# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.pyc
*.egg-info/

# IDE / venv
.idea/
.venv/

# Env files
.env
.env.*
!.env.example

# Logs
logs/

# Allure artifacts
allure-results/
allure-report/
allure-history/

# OS
.DS_Store